phpcq:
  repositories:
    - ./.phpcq/local/repository.json
    - https://phpcq.github.io/repository/repository.json
  directories:
    - src
    - tests
    - spec
  artifact: .phpcq/build

  plugins:
    phpunit:
      version: ^1.0
      signed: false
    psalm:
      version: ^1.0
      signed: false
    composer-require-checker:
      version: ^1.0
      signed: false
    phpmd:
      version: ^1.0
      signed: false
      requirements:
        phpmd:
          signed: false
    phpcpd:
      version: ^1.0
      signed: false
    phploc:
      version: ^1.0
      signed: false
    phpcs:
      version: ^1.0
      signed: false
    composer-normalize:
      version: ^1.0
      signed: false
    phpspec:
      version: ^1.0
      signed: false
  trusted-keys:
    # composer-normalize
    - C00543248C87FB13
    # composer-require-checker
    - 033E5F8D801A2F8D
    # phpcq team
    - 6659B17090D6C5D3
    # phpcs
    - 97B02DD8E5071466
    # phpmd
    - 9093F8B32E4815AA
    # phpunit
    - 4AA394086372C20A
    # psalm
    - 99BF4D9A33D65E1E

tasks:
  fix:
    - composer-normalize
    - phpcbf

  verify:
    - composer-require-checker
    - composer-normalize

  analyze:
    - phploc
    - phpcpd
    - phpmd
    - phpmd_spec
    - phpcs
    - psalm
    - phpunit
    - phpspec

  default:
    - composer-require-checker
    - composer-normalize
    - phploc
    - phpcpd
    - phpmd
    - phpmd_spec
    - phpcs
    - psalm
    - phpunit
    - phpspec

  phpmd:
    plugin: phpmd
    directories:
      - src
      - tests
    config:
      ruleset:
        - codesize
        - controversial
        - naming
        - unusedcode

  phpmd_spec:
    plugin: phpmd
    directories:
      - spec
    config:
      ruleset:
        - codesize
        - naming
        - unusedcode

  composer-require-checker:
    plugin: composer-require-checker
    config:
      config_file: '.composer-require-checker.json'

  phpcs:
    plugin: phpcs
    config: &phpcs-config
      standard: PSR12

  phpcbf:
    plugin: phpcs
    config:
      <<: *phpcs-config
      fix: true
